<div id="nav" >
  <%= form_tag({controller: "plates", action: "get_plate"}, method: "get", class: "search_form form-inline") do %>
        <%= select_tag :id, options_for_select(Plate.all.order('platename ASC').collect {|p| [p.platename, p.ogc_fid]}),
                       :include_blank => "Select a tectonic plate", class: 'form-control'%>
        <%= submit_tag "Show", class: "btn btn-primary"%>
  <% end %>
</div>

<div id='section'>
  <div id='map'></div>
<!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>-->

  <script type="text/javascript" charset="utf-8">

    var centerLoc;
    <% if @vulc_json != nil %>
      var vulcJson = <%= raw @vulc_json.to_s.gsub('=>',':') %>
      var plateJson = <%= raw @plate_json.to_s.gsub('=>',':') %>
      centerLoc = plateJson[1].geometry.coordinates[0][0];
    <% else %>
      centerLoc = [-20, 30];
    <% end %>


      mapboxgl.accessToken = 'pk.eyJ1IjoiZG9kYWsyNTgiLCJhIjoiY2pwMGRxendzMzNqaTNxbmhuOXNkbHNscSJ9.XKSuCTZkL0mBIK3uB_rUyQ';
      var map = new mapboxgl.Map({
          container: 'map', // container id
          style: 'mapbox://styles/mapbox/outdoors-v9', //stylesheet location
          center: centerLoc, // starting position
          zoom: 3 // starting zoom
      });

      //map.addControl(new mapboxgl.FullscreenControl());

      <% if @vulc_json != nil %>

            console.log(vulcJson);
            console.log(plateJson);

      vulcJson.forEach(function(marker) {
          if (marker === "[" || marker === "]" || marker === ",")
              return;
          // create a HTML element for each feature
          var el = document.createElement('div');
          el.className = 'marker vul';
          //el.style.backgroundColor = marker.properties.color;
          el.style.height = marker.properties.size * 2 + 'px';
          el.style.width = marker.properties.size * 2 + 'px';

          var popup = new mapboxgl.Popup({offset: 25, perspective: true})
              .setHTML("<h3>Vulcano</h3>"+
                  "<h5>Name: " + marker.properties.name + "</h5>"+
                  "<h5>Elevation: " + marker.properties.elev + "</h5>"+
                  "<h5>Location: " + marker.properties.location + "</h5>"+
                  "<h5>Status: " + marker.properties.status + "</h5>"+
                  "<h5>Time frame: " + marker.properties.time_frame + "</h5>"+
                  "<h5>Type: " + marker.properties.type + "</h5>");

          // make a marker for each feature and add to the map
          new mapboxgl.Marker(el, {
              perspective: true
          })
              .setLngLat(marker.geometry.coordinates)
              .setPopup(popup)
              .addTo(map);
      });

      map.on('load', function() {
          map.addLayer({
              'id': 'plates',
              'type': 'fill',
              'source': {
                  'type': 'geojson',
                  'data': plateJson[1]
              },
              'paint': {
                  'fill-color': '#088',
                  'fill-opacity': 0.8
              }
          });
      });

      // map.on('click', 'plates', function (e) {
      //     new mapboxgl.Popup()
      //         .setLngLat(e.lngLat)
      //         .setHTML("<h3 id='tectonic-plate'>Tectonic plate</h3>"+
      //             "<h5>Platename: " + e.features[0].properties.platename + "</h5>"+
      //             "<h5>N.o. vulcanos: " +  $('.val').length + "</h5>")
      //         .addTo(map);
      // })
      <% end %>
  </script>
</div>